@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap");

.nav-wrapper {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  color: #fff;
  border-radius: 12px;
  padding: 20px;
  width: 100%;
  margin: 20px 0;
}
ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li {
  list-style: none;
  text-align: center;
  margin: 0 15px;
}
ul li a {
  color: white;
  text-decoration: none;
  font-size: 2em;
  display: inline-flex;
  font-weight: 700;
  transition: 0.5s;
}
ul:hover li a {
  color: #0002;
}
ul li:hover a {
  color: #000;
  background: transparent;
  position: relative;
}
ul li a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.2em;
  color: transparent;
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  font-weight: 900;
}

// ul li:nth-child(6n + 1) a:before {
//   background: #0470fe;
// }
// ul li:nth-child(6n + 2) a:before {
//   background: #ff7675;
// }
// ul li:nth-child(6n + 3) a:before {
//   background: #1582fe;
// }
// ul li:nth-child(6n + 4) a:before {
//   background: #a29bfe;
// }
// ul li:nth-child(6n + 5) a:before {
//   background: #fd79a8;
// }
// ul li:nth-child(6n + 6) a:before {
//   background: #ffeaa7;
// }
