<div class="hero">
  <app-navbar></app-navbar>
  <div class="row justify-content-center">
    <div class="col-sm-4">
      <h1>Discover the world</h1>
      <br />
    </div>
  </div>
</div>
<div class="header">
  <h1 class="title">Countries</h1>
  <div class="box">
    <form name="search">
      <input
        type="text"
        class="input"
        name="txt"
        [(ngModel)]="searchQuery"
        (input)="fetchCountries()"
      />
    </form>
    <i class="fas fa-search"></i>
  </div>
</div>
<div class="row countries">
  <div
    *ngFor="let country of filteredCountries"
    class="col-lg-3 my-2"
    (click)="navigateToCountry(country.code)"
  >
    <figure>
      <img src="{{ country.flag }}" alt="{{ country.flag }}" />
      <figcaption>{{ country.name }}</figcaption>
    </figure>
  </div>
</div>
