/* You can add global styles to this file, and also import other style files */
@import "@fortawesome/fontawesome-free/css/all.css";

html,
body {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("https://cdn.pixabay.com/photo/2013/04/11/19/46/building-102840_1280.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Poppins", sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
}
